BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

AllowShortLambdasOnASingleLine: false
LambdaBodyIndentation: Signature

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterLambda: true